.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    border-radius: 8px;
    width: 400px;
}

.modal p {
    margin: 0;
}

.modal_header {
    background: #ae3a3a;
    color: white;
    padding: 20px 10px;
}

.modal_header p {
    font-size: 18px;
    font-weight: bold;
}

.modal_body {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.actions button {
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.cancel_btn {
    padding: 5px 15px;
    background: #e0e0e0;
}

.cancel_btn:hover {
    background: #b3b3b3;
}

.delete_btn {
    padding: 5px 15px;
    background: #ae3a3a;
    color: white;
}

.delete_btn:hover {
    background: #8c2525;
}