.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f5f5f5;
}

.login_card {
  width: 300px;
  margin: 0 auto;
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login_card h2 {
  margin: 0;
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  letter-spacing: 3px;
}

.input_group {
  display: flex;
  flex-direction: column;
}

.input_fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.input_fields label {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
}

.input_fields p {
    margin: 0;
}

.input_fields input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input_fields input:hover {
    border-color: #ae3a3a;
}

.input_fields input:focus {
    outline: none;
    border-color: #ae3a3a;
    box-shadow: 0 0 5px rgba(174, 58, 58, 0.5);
}

.login_btn {
    width: 100%;
    padding: 10px;
    background-color: #ae3a3a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.login_btn:hover {
    background-color: #8c2525;
}